.footer{
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: rgb(113, 113, 146);
    align-items: center;
    padding: 0px 50px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: white;
}