.header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: rgb(113, 113, 146);
    align-items: center;
    padding: 0px 50px;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.menu{
    position: absolute;
    background-color: rgb(113, 113, 146);
    left: 0%;
    top: 44px;
    height: auto;
    width: 200px;
}

.menu__lista{
    height: 60px;
    list-style-type: none;
    text-align: left;
    display: flex;
    align-items: center;
}

.menu__lista:hover{
    background-color: rgb(132, 132, 151);
}

a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}


button{
    background: transparent;
    border: none;

}

.hamburger{
    height: 30px;
    width: 30px;
}

.carrito{
    height: 30px;
    width: 30px;
}

.logo{
    color: white;
    font-weight: 500;
    font-size: 25px;
}
